input[type=email], input[type=text], textarea {
  font: 300 .9em/2.6em Helvetica, Arial;
  color: #aaa;
  padding: 0 2%;
  width: 94%;
  margin-bottom: 5px;
  outline: 0;
  border: 1px solid #454545;
  background: #222;
}


textarea {
  height: 100px;
}


input[type=submit] {
  font: 300 .9em Helvetica, Arial;
  cursor: pointer;
  padding: 10px 20px;
  background: #4f99bf;
  border: none;
  color: #fff;
  margin: 0 0 20px 0;
}


input:hover[type=submit] {
  background: #eee;
  color: #222;
}


.mobileOnly {
  display: none !important;
}