label {
  font: 500 .9em/1em Helvetica, Arial;
}

input[type=text], input[type=email], textarea {
  font: 300 1em/3em Helvetica, Arial;
  color: #777;
  padding: 0 1%;
  width: 95%;
  margin-bottom: 10px;
  outline: 0;
  border: $border;
  background: #f1f1f1;
  @include border-radius(3px);
}

textarea {
  height: 100px;
}

input[type=submit] {
  font: 300 1.1em/2.6em Helvetica, Arial;
  cursor: pointer;
  padding: 0 25px;
  background: #555;
  border: none;
  color: #fff;
  @include border-radius(2px);
}

input:hover[type=submit] {
  background: $primary;
}


/* footer email signup */
footer input[type=email] {
  color: #bbb;
}