.mobileOnly {
  display: none !important;
}

@media only screen and (max-width: 980px) {



}




@media only screen and (max-width: 767px) {

  .noMobile {
    display: none;
  }

  header {
    position: relative;
    overflow: auto;
  }

  header .co12 {
    width: 100%;
    padding: 0;
  }

  /* homepage sprite */
  ul.serviceList li {
    width: 45.7%;
    padding: 4% 2%;
    &:nth-child(-n+4) {
      border-bottom: $border;
    }
    &:nth-child(n+1):nth-child(-n+3) {
      border-right: $border;
    }
    &:nth-child(even) {
      border-right: none !important;
    }
  }

  /* upcoming events banner */
  #upcoming {
    li {
      width: 46%;
      margin-bottom: 40px;
    }

    li:nth-child(n+3) {
      margin-bottom: 0;
    }
  }

  .floatLeft, .floatRight {
    float: left;
  }

}




@media only screen and (max-width: 480px) {

  /* homepage sprite */
  ul.serviceList li {
    width: 96%;
    border-bottom: $border;
    border-right: none !important;
  }

  /* upcoming events banner */
  #upcoming {
    li:nth-child(-n+3) {
    width: 96%;
    margin-bottom: 40px;
    }

    li:last-child {
      width: 96%;
      margin-bottom: 0;
    }
  }

}