.mobileOnly {
  display: none !important;
}

@media only screen and (max-width: 980px) {

  // /* upcoming banner list */
  // ul.gce-list li {
  //   width: 46%;
  //   margin: .7% .5%;
  // }

}




@media only screen and (max-width: 767px) {

  .noMobile {
    display: none;
  }

  header {
    position: relative;
    overflow: auto;
  }

  header .co12 {
    width: 100%;
    padding: 0;
  }

  /* homepage sprite */
  ul.serviceList li {
    width: 45.7%;
    padding: 4% 2%;
    &:nth-child(-n+4) {
      border-bottom: $border;
    }
    &:nth-child(n+1):nth-child(-n+3) {
      border-right: $border;
    }
    &:nth-child(even) {
      border-right: none !important;
    }
  }

  // ul.gce-list li {
  //   width: 46%;
  //   padding: 4% 2%;
  // }

  .floatLeft, .floatRight {
    float: left;
  }




  #upcoming {

    ul.gce-list li {
      margin-bottom: 40px;
      background: #907;
    }

    ul.gce-list li:nth-child(n+3) {
      margin-bottom: 0;
    }

    .co3 {
      width: 46%;
    }

  }




}




@media only screen and (max-width: 480px) {

  /* homepage sprite */
  ul.serviceList li {
    width: 96%;
    border-bottom: $border;
    border-right: none !important;
  }

  /* upcoming list */
  // ul.gce-list li {
  //   width: 96%;
  //   margin: .7% 0;
  // }

}