/* page title */
h1, h2, h3, h4, h5, h6 {
  font: 500 1em/1em $roboto;
  color: #444;
  clear: both;
  display: block;
  margin: 0 0 20px 0;
}

  /* page title */
  h1 {
    font-size: 1.6em;
    text-transform: uppercase;
  }

  /* content sub title */
  h2 {
    font-size: 1.4em;
    text-transform: uppercase;
  }

  /* content sub title with border */
  h3 {
    font-size: 1.4em;
    border-top: $border;
    margin-top: 80px;
    padding-top: 80px;
    text-transform: uppercase;
  }

  /* homepage blocks */
  h4 {
    font-size: 1.2em;
    margin: 0;
  }

  /* upcoming events heading */
  h5 {
    font-size: 1.1em;
    line-height: 3em;
    margin-bottom: 80px;
    color: #fff;
    text-transform: uppercase;
  }

  /* upcoming events name */
  h6 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
  }




a {
  @include transition (all 0.2s ease-in-out);
  color: $primary;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: 500;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
}


.lines {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}



.cta {
  font-family: $roboto;
  font-weight: 400;
  padding: 0 28px;
  line-height: 36px;
  border: 2px solid $primary;
  color: $primary;
  display: inline-block;
  //@include border-radius(4px);
}

.cta:hover {
  color: #fff;
  border-color: #fff;
}