/* page title */
h1, h2, h3, h4, h5, h6 {
  font: 400 1em/1em $openSans;
  color: #444;
  clear: both;
  display: block;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

  /* page title */
  h1 {
    font-size: 1.6em;
    //text-transform: uppercase;
  }

  /* content sub title */
  h2 {
    font-size: 1.4em;
    //text-transform: uppercase;
  }

  /* content sub title with border */
  h3 {
    font-size: 1.4em;
    border-top: $border;
    margin-top: 80px;
    padding-top: 80px;
    //text-transform: uppercase;
  }

  /* landing page blocks */
  h4, h4 a {
    font: 600 1em/1em $openSans;
    letter-spacing: 1px;
    margin: 0;
    color: $secondary;
  }

  /* upcoming events name */
  h5 {
    font-size: 1.1em;
    color: #777;
    margin: 0 0 10px 0;
    text-transform: none;
  }

  /* footer titles */
  h6 {
    color: #999;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }




a {
  @include transition (all 0.2s ease-in-out);
  color: $primary;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: 500;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
}


.lines {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}



.cta {
  font-size: 1em !important;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #fff;
  padding: 0 20px;
  line-height: 3em;
  display: inline-block;
  border: 2px solid #fff;
  @include border-radius(2px);
}

.cta:hover {
  color: #444;
}