@import "reset";

$primary: #52D4B7;
$secondary: #444;
$openSans: 'Open Sans', sans-serif;
$border: 1px solid #e8e8e8;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.coverImg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import "bourbon/bourbon";
@import "grid";
@import "type";
@import "nav";
@import "form";
@import "bxslider";
@import "tinycarousel";
//@import "grid-settings";
//@import "neat/neat";


body {
  font: 300 .9em/1 Helvetica, Arial;
  color: #444;
}




/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
header, #content, #upcoming, #visiting, footer {
  overflow: auto;
}




/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
header {

  width: 100%;
  z-index: 9999999;
  background: #262626;

  .co12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    float: left;
  }

}

.home header {
  background: none;
  position: absolute;
  overflow: inherit;
}




/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
#banner {

  background: #097;

}





/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
#content {

  padding: 120px 0 80px 0;


  .homePod {
    height: 270px;
    margin: 0;
    text-align: center;
  }

  .homePod:nth-child(odd) {
    background: #097;
  }

  .homePod:nth-child(even) {
    background: #642;
  }

  /* --------------------------------------------*/
  p {
    line-height: 2.2em;
  }


  /* --------------------------------------------*/
  aside, aside a {

    color: #aaa;
    line-height: 2em;

    a.currentSub, a:hover {
      color: $primary;
    }

    ul.subs {
      margin: 0 0 40px 0;
    }

  }


  /* --------------------------------------------*/
  ul.messages {

    li {
      padding: 40px 0;
      border-bottom: $border;
    }

    li:first-child {
      padding-top: 0;
    }

    li:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    time {
      display: block;
      margin-bottom: 20px;
    }

  }


}






/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
.landing {

  .co3{
    margin-bottom: 40px;
  }

}






/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
#upcoming {

  padding: 0 0 120px 0;
  text-align: center;
  color: #999;
  //background: $primary;

  .container {
    border-top: $border;
    padding-top: 80px;
  }

  li {
    background: url('images/calendar.png') no-repeat top;
    float: left;
    padding: 70px 2% 0 2%;
    width: 21%;
  }

  .upcomingDate, .upcomingTime, .upcomingVenue {
    display: block;
    line-height: 1.6em;
  }

}




/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
#visiting {

  padding: 80px 0;
  text-align: center;
  background: $primary;
  -webkit-box-shadow: inset 0px 4px 2px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 4px 2px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px 4px 2px 0px rgba(0,0,0,0.15);

  p {
    font: 600 1.9em $openSans;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 40px 0;
  }

  .cta {
    color: #fff;
    border-color: #fff;
  }

  .cta:hover {
    color: #444;
    border-color: #444;
  }

}




/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
footer {

  padding: 80px 0 40px 0;
  background: #262626;
  color: #666;
  line-height: 1.6em;

  a {
    color: #666;
  }

  a:hover {
    color: $primary;
  }

  p {
    margin: 0 0 10px 0;
  }

  ul.tweet {
    li {
      //font: 200 1.6em $openSans;
      //display: block;
      margin: 0 0 10px 0;
    }
  }

  ul.social {
    display: block;

    .socialSprite {
      display: inline-block;
      margin: 0 10px 0 0;
      height: 40px;
      width: 40px;
      background: url(images/socialBottom.png) no-repeat;
    }
    li.twitter            { @extend .socialSprite; background-position: 0         0; }
    li.facebook           { @extend .socialSprite; background-position: -40px     0; }
    li.instagram          { @extend .socialSprite; background-position: -80px     0; }
    li.maps               { @extend .socialSprite; background-position: -120px    0; }
    li.twitter:hover      { background-position: 0        -40px; }
    li.facebook:hover     { background-position: -40px    -40px; }
    li.instagram:hover    { background-position: -80px    -40px; }
    li.maps:hover         { background-position: -120px   -40px; }
  }

  .credit {
    //padding-top: 40px;
    //border-top: $border;
    font-size: .8em;
  }

}





/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* Homepage Sprite ----------------------------
ul.serviceList li {
  display: inline-block;
  float: left;
  width: 29.2%;
  padding: 5% 2%;
  text-align: center;

  &:nth-child(-n+3) {
    border-bottom: $border;
  }

  &:nth-child(n+1):nth-child(-n+2) {
    border-right: $border;
  }

  &:nth-child(n+4):nth-child(-n+5) {
    border-right: $border;
  }

  & img {
    margin: 0 auto 10px auto;
  }

}

.sprite {
  width: 150px;
  height: 150px;
  background: url(images/sprite.jpg) no-repeat;
  display: inline-block;
  background-size: 300%;
  margin: 0 0 10px 0;
}

.spriteOne     { @extend .sprite; background-position: 0         0; }
.spriteTwo     { @extend .sprite; background-position: -150px    0; }
.spriteThree   { @extend .sprite; background-position: -300px    0; }
.spriteFour    { @extend .sprite; background-position: 0         -150px; }
.spriteFive    { @extend .sprite; background-position: -150px    -150px ; }
.spriteSix     { @extend .sprite; background-position: -300px    -150px; }
*/



/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
/* --------------------------------------------*/
@import "mobile";